###############################################################################
# IDEs & Editors
###############################################################################
.vs/
.vscode/
.idea/
/uploads