DEBUG=True

APP_NAME=Fusion
APP_VERSION=0.0.0

SECRET_KEY=

POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=root
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_PATH=postgres

UPLOADS_PATH=../uploads

MAIL_USERNAME=email@gmail.com
MAIL_PASSWORD=password
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
MAIL_FROM=email@gmail.com
MAIL_FROM_NAME=Name
TEMPLATES_PATH=src/email/templates
USE_CREDENTIALS=True
VALIDATE_CERTS=True
EMAIL_RESET_TOKEN_EXPIRE_MINUTES=10

DOMAIN=localhost
PORT=8000
