{% extends "base.jinja" %}

{% block heading %}
    Please reset your password for Fusion
{% endblock %}

{% block main %}
    <p>
        You recently requested a password change from your Fusion profile.
        Please proceed to changing your password by clicking on the button below:
    </p>

    <a href="{{ url }}" class="button">
        Reset password
    </a>

    <p>
        The link will expire in {{ expires_at }} minutes.
    </p>
{% endblock %}
