{% extends "base.jinja" %}

{% block heading %}
    Please verify your email address
{% endblock %}

{% block main %}
    <p>
        You recently added a new email address to your Fusion profile.
        Please verify this email address by clicking the button below:
    </p>

    <p>
        Your verify code is {{ code }}
    </p>

    <p>
        The code will expire in {{ expires_at }} minutes.
    </p>
{% endblock %}
