{% extends "base.jinja" %}

{% block heading %}
    Please reset your email for Fusion
{% endblock %}

{% block main %}
    <p>
        You recently requested a email change in your Fusion profile.
        Please confirm the email change by entering the confirmation code on the website:
    </p>

    <p>
        Your verify code is {{ code }}
    </p>

    <p>
        The code will expire in {{ expires_at }} minutes.
    </p>
{% endblock %}
